streamlit>=1.30.0
pandas>=1.5.0
numpy>=1.22.0
matplotlib>=3.5.0
plotly>=5.5.0
scikit-learn>=1.1.0
statsmodels>=0.13.0
xgboost>=1.7.0
prophet>=1.1
tensorflow>=2.11.0
keras>=2.11.0
pmdarima>=2.0.3
seaborn>=0.11.2
joblib>=1.1.0
